<!DOCTYPE html>
<html>
<head>
    <title>Customer Support</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
<h1>Welcome to the Customer Support System!</h1>
<h2>Current GET Routes</h2>
<h3>Stubbed</h3>
<ul>
    <li><a href="/sales/customer/stub">Search for customers (with the first name "John")</a></li>
    <li><a href="/sales/ordersearch/stub">Search for orders (with the customer ID 1)</a></li>
    <li><a href="/sales/orderinfo/stub">Get the order info for order ID 1</a></li>
    <li><a href="/sales/refund/stub">Initiate a replacement for order 1 (with three serial numbers)</a></li>
    <li><a href="/employee/stub">Get the employee record for employee ID 1</a></li>
</ul>
<h3>Real</h3>
<ul>
    <li><a href="/sales/customer/real">Search for customers (with the first name "John")</a></li>
    <li><a href="/sales/ordersearch/real">Search for orders (with the customer ID 1)</a></li>
    <li><a href="/sales/orderinfo/real">Get the order info for order ID 1</a></li>
    <li><a href="/sales/refund/real">Initiate a replacement for order 1 (with three serial numbers)</a></li>
    <li><a href="/employee/real">Get the employee record for employee ID 1</a></li>
</ul>

<br>

Go to the <a href="/new-call">New Call form!</a>
</body>

</html>
