{% extends 'template.html' %}
{% block title %}New Call{% endblock %}
{% block content %}
    {# Bring in the search customer modal. #}
    {% include 'search-customer-modal.html' %}
    {% include 'new-ticket-modal.html' %}
    {% include 'list-tickets-modal.html' %}

    <div class="page-header">
        <h2>New Call</h2>
    </div>

    <form action="" method="post">
        {{ form.hidden_tag() }}
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group{% if form.customer_id.errors %} has-error{% endif %}">
                    {{ form.customer_id.label }}
                    <div class="input-group">
                        {{ form.customer_id(class="form-control", id="customer_id") }}
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-primary" data-toggle="modal"
                                    data-target="#searchCustomerModal">Search</button>
                        </span>
                    </div>
                    {% if form.customer_id.errors %}
                        <ul class="text-danger">{% for error in form.customer_id.errors %}
                            <li>{{ error }}</li>{% endfor %}</ul>
                    {% endif %}
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group{% if form.order.errors %} has-error{% endif %}">
                    {{ form.order.label }}
                    <div class="input-group">
                        {{ form.order(class="form-control", id="order") }}
                        <span class="input-group-btn">
                            <a class="btn btn-primary" href="search-order.html" role="button">Search</a>
                        </span>
                    </div>
                    {% if form.order.errors %}
                        <ul class="text-danger">{% for error in form.order.errors %}
                            <li>{{ error }}</li>{% endfor %}</ul>
                    {% endif %}
                </div>
            </div>
        </div>

        <hr>
        <h4>Phone</h4>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group{% if form.phone_called_from.errors %} has-error{% endif %}">
                    {{ form.phone_called_from.label }}
                    {{ form.phone_called_from(class="form-control", placeholder="(222) 867-5309") }}
                    {#                    <input type="tel" class="form-control" id="calledFromPhone" placeholder="Called From">#}
                    {% if form.phone_called_from.errors %}
                        <ul class="text-danger">{% for error in form.phone_called_from.errors %}
                            <li>{{ error }}</li>{% endfor %}</ul>
                    {% endif %}
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group{% if form.phone_call_back.errors %} has-error{% endif %}">
                    {{ form.phone_call_back.label }}
                    {{ form.phone_call_back(class="form-control", placeholder="(222) 867-5309") }}
                    {% if form.phone_call_back.errors %}
                        <ul class="text-danger">{% for error in form.phone_call_back.errors %}
                            <li>{{ error }}</li>{% endfor %}</ul>
                    {% endif %}
                </div>
            </div>
        </div>

        <hr>
        <h4>Ticket</h4>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group{% if form.ticket_id.errors %} has-error{% endif %}">
                    {{ form.ticket_id.label }}
                    {{ form.ticket_id(class="form-control", id="ticketId") }}
                    {% if form.ticket_id.errors %}
                        <ul class="text-danger">{% for error in form.ticket_id.errors %}
                            <li>{{ error }}</li>{% endfor %}</ul>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group{% if form.ticket_type.errors %} has-error{% endif %}">
                    <div class="input-group">
                        {{ form.ticket_type(class="form-control", id="ticketType") }}
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-primary" id="createTicket" data-toggle="modal"
                                    data-target="#newTicketModal" disabled="true">Create</button>
                        </span>
                    </div>
                    {% if form.ticket_type.errors %}
                        <ul class="text-danger">{% for error in form.ticket_type.errors %}
                            <li>{{ error }}</li>{% endfor %}</ul>
                    {% endif %}
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-success btn-block" data-toggle="modal"
                                data-target="#listTicketModal" id="listTicketsButton" disabled="true">List Customer Tickets</button>
                    </span>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <div class="form-group{% if form.notes.errors %} has-error{% endif %}">
                    {{ form.notes.label }}
                    {{ form.notes(class="form-control", rows=3) }}
                    {% if form.notes.errors %}
                        <ul class="text-danger">{% for error in form.notes.errors %}
                            <li>{{ error }}</li>{% endfor %}</ul>
                    {% endif %}
                </div>
            </div>
        </div>
        <button type="submit" class="btn btn-success btn-lg btn-block">Submit</button>
    </form>
{% endblock %}

{% block page_scripts %}
    <script src="{{ url_for('static', filename='search-customer.js') }}"></script>
    <script src="{{ url_for('static', filename='new-ticket.js') }}"></script>
    <script src="{{ url_for('static', filename='list-tickets.js') }}"></script>
{% endblock %}

