{% extends 'template.html' %}
{% block title %}New Call{% endblock %}
{% block content %}
    {# Bring in the search customer modal. #}
    {% include 'search-customer-modal.html' %}
    {% include 'new-ticket-modal.html' %}
    {% include 'list-tickets-modal.html' %}

    <div class="page-header">
        <h2>New Call</h2>
    </div>

    <form>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label for="customer">Customer ID</label>
                    <div class="input-group">
                        <input type="text" class="form-control" id="customer" placeholder="Customer ID">
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-primary" data-toggle="modal"
                                    data-target="#searchCustomerModal">Search</button>
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label for="order">Order</label>
                    <div class="input-group">
                        <input type="text" class="form-control" id="order" placeholder="Order">
                        <span class="input-group-btn">
                  <a class="btn btn-primary" href="search-order.html" role="button">Search</a>
                </span>
                    </div>
                </div>
            </div>
        </div>

        <hr>
        <h4>Phone</h4>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label for="calledFromPhone">Called From</label>
                    <input type="tel" class="form-control" id="calledFromPhone" placeholder="Called From">
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label for="callBackPhone">Call Back</label>
                    <input type="tel" class="form-control" id="callBackPhone" placeholder="Call Back">
                </div>
            </div>
        </div>

        <hr>
        <h4>Ticket</h4>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <input type="text" class="form-control" id="ticketId" placeholder="Ticket ID">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <div class="input-group">
                        <select class="form-control" id="ticketType">
                            <option>Refund</option>
                            <option>Replace</option>
                        </select>
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-primary" id="createTicket" data-toggle="modal"
                                    data-target="#newTicketModal" disabled="true">Create</button>
                </span>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-success btn-block" data-toggle="modal"
                            data-target="#listTicketModal"id="listTicketsButton" disabled="true">List Customer Tickets</button>
                    </span>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <div class="form-group">
                    <label for="notes">Notes</label>
                    <textarea class="form-control" rows="3" id="notes"></textarea>
                </div>
            </div>
        </div>
        <button type="submit" class="btn btn-success btn-lg btn-block">Submit</button>
    </form>
{% endblock %}

{% block page_scripts %}
    <script src="{{ url_for('static', filename='search-customer.js') }}"></script>
    <script src="{{ url_for('static', filename='new-ticket.js') }}"></script>
    <script src="{{ url_for('static', filename='list-tickets.js') }}"></script>
{% endblock %}