body {
  padding-top: 50px;
}

#ticketProgressContainer {
  visibility: hidden;
}

#ticketProgress .progress.active .progress-bar {
  -webkit-transition: none !important;
  transition: none !important;
}

.btn-monster {
  padding: 10% 0;
}
